.Container {
  height: 100vh;
  background: radial-gradient(circle, rgb(226, 164, 203), rgb(228, 176, 235), rgb(159, 221, 245));;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Main {
  align-items: center;
  padding: 50px 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Header {
  color: aliceblue;
  font-size: 60px;
}

.Counter {
  color: purple;
  font-size: 60px;
}

.Buttons {
  gap: 25px;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.button {
  background-color: pink;
  border-radius: 25px;
}

.timerButton {
  background-color: aliceblue;
  border-radius: 25px;
}